
<style>


.sh_banner_section{
      font-family: "Jost" !important;
}
.sh_header{
    background-color: #F5F5F5;
   
}
.sh_banner_section h1.sh_logo {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin: unset !important;
    font-family: "Jost" !important;
}

.sh_banner_section .sh_topbar {
    display: flex
;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
     padding-bottom: 10px;

}
p.sh_gift{
    font-size: 16px;
    color: black;
    font-weight: 400;
    font-family: "Jost" !important;
    margin: unset;
}
button.yellow_btn {
    background: #FFF544;
    border: unset;
    width: 207px;
    font-size: 16px;
    height: 44px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
    font-family: "Jost" !important;
}
.sh_banner_section button.black_btn {
    background: black;
    border: unset;
    width: 207px;
    color: white;
    font-size: 16px;
    height: 44px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
    font-family: "Jost" !important;
}
button.yellow_btn:hover{
    background: black;
    color: white;
}
.sh_banner_section button.black_btn:hover{
    background: #FFF544;
    color: black;
}
.banner_image_text img {
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.banner_image_text {
    position: relative;
    height: 780px;
   
}
.overlay_content h1 {
    font-size: 70px;
    font-weight: 500;
    line-height: 100%;
    font-family: "Jost" !important;
    margin: unset;
}
.overlay_content p {
    font-size: 20px;
    font-weight: 400;
    margin: unset;
    font-family: "Jost" !important;
    line-height: 140%;
}
.overlay_content {
    display: flex
;
gap: 50px;
    flex-direction: column;
    width: 483px;
    position: absolute;
    bottom: 8%;
    left: 4%;
}

.sh_hamburger_menu{
    display: none;
}
.sh_banner_section .black_btn_mobile{
    display: none;
}
@media(max-width:990px){
    .sh_header .page-width.page-width-desktop {
    padding: 0px 16px;
}
}
@media(max-width:768px){
    .sh_hamburger_menu{
        display: block;
    }
  p.sh_gift{
    display: none;
  }

button.yellow_btn {
  display: none;
}
   .banner_section .topbar {
        display: flex
;
        justify-content: start;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 58%;
    }
    .banner_section h1.logo {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: auto;
}
    .overlay_content {
        position: static;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: unset;
    }
    .overlay_content h1 {
        font-size: 30px;
        font-weight: 500;
        margin-top: 49px;
        line-height: 100%;
        margin-bottom: 24px;
        font-family: "Jost" !important;
    }
    .overlay_content p {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 12px;
        text-align: center;
        font-family: "Jost" !important;
    }

.sh_banner_section button.black_btn {
    display: none;
}
    .sh_banner_section .black_btn_mobile {
        background: black;
        border: unset;
        width: 193px;
        display: block;
        color: white;
        font-size: 16px;
        height: 45px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 400;
        transition: all 0.3s ease-in-out;
        bottom: 39px;
        position: absolute;
    }
    .banner_image_text {
    position: relative;
    height: unset !important;
}
.banner_image_text{
    display: flex
;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
}
.sh_bootom_bar p{
  font-size: 16px;
  font-weight: 400;
   font-family: "Jost" !important;
   line-height: 13.42px;
   letter-spacing: 0px;
   text-align: center;
   text-transform: uppercase;
   margin: unset;
}
.sh_bootom_bar {
    background: #F5F5F5;
    width: 100%;
    height: 34px;
    display: flex
;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
}
</style>



<section class="sh_banner_section">
  <div class="sh_header">
    <div class="page-width page-width-desktop">
      <div class="sh_topbar">
            <div class="sh_hamburger_menu">
                <img src="https://cdn.shopify.com/s/files/1/0949/3331/9998/files/Group_1000008115.png?v=1749901886" width="18" height="10" >
            </div>
        <h1 class="sh_logo">{{ section.settings.sh_logo_text }}</h1>
        <p class="sh_gift">{{ section.settings.sh_top_text }}</p>
        {% if section.settings.sh_top_button_label != blank %}
          <a href="{{ section.settings.sh_top_button_link | default: '#' }}">
            <button class="yellow_btn">
              {{ section.settings.sh_top_button_label }}
            </button>
          </a>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="banner_image_text title-wrapper--self-padded-mobile">
    {% if section.settings.sh_overlay_button_label != blank %}
          <a href="{{ section.settings.sh_overlay_button_link | default: '#' }}"></a>
      <button class="black_btn_mobile">
         {{ section.settings.sh_overlay_button_label }}
           </button>
            </a>
           {% endif %}
     <div class="overlay_content">
      <h1>{{ section.settings.sh_overlay_heading }}</h1>
      <p>{{ section.settings.sh_overlay_text }}</p>
      {% if section.settings.sh_overlay_button_label != blank %}
        <a href="{{ section.settings.sh_overlay_button_link | default: '#' }}">
          <button class="black_btn">
            {{ section.settings.sh_overlay_button_label }}
          </button>
        </a>
      {% endif %}
    </div>
    {% if section.settings.sh_banner_image %}
     <img class="sh_popup_image pop_p_imaage" 
     src="{{ section.settings.sh_banner_image |  img_url: 'master'  }}"   
     width="100%"
     height="100%">
    {% endif %}
   
  </div>
  <div class="sh_bootom_bar">
    <p>{{ section.settings.bottombar_sh }}</p>
  </div>
</section>

{% schema %}
{
  "name": "Sohail Banner Section",
  "tag": "section",
  "class": "sh_banner_section",
  "settings": [
    {
      "type": "text",
      "id": "sh_logo_text",
      "label": "sh_logo Text",
      "default": "Tisso Vision"
    },
    {
      "type": "text",
      "id": "sh_top_text",
      "label": "Top sh_gift Text",
      "default": "Find the ideal sh_gift for your loved ones."
    },
    {
      "type": "text",
      "id": "sh_top_button_label",
      "label": "Top Button Label",
      "default": "Choose sh_gift →"
    },
    {
      "type": "url",
      "id": "sh_top_button_link",
      "label": "Top Button Link"
    },
    {
      "type": "image_picker",
      "id": "sh_banner_image",
      "label": "Banner Image"
    },
    {
      "type": "text",
      "id": "sh_overlay_heading",
      "label": "Overlay Heading",
      "default": "The sh_gift Guide"
    },
    {
      "type": "textarea",
      "id": "sh_overlay_text",
      "label": "Overlay Description",
      "default": "Discover Joy: Your Ultimate Holiday sh_gift Destination. Explore our curated selection and find the perfect sh_gifts to delight your loved ones this holiday season."
    },
    {
      "type": "text",
      "id": "sh_overlay_button_label",
      "label": "Overlay Button Label",
      "default": "SHOP NOW →"
    },
    {
      "type": "url",
      "id": "sh_overlay_button_link",
      "label": "Overlay Button Link"
    },
    {
      "type": "text",
      "id": "bottombar_sh",
      "label": "bottombar",
      "default": "SUSTAINABLE, ETHICALLY MADE CLOTHES IN SIZES XXS TO 6XL"
    },
  ],
  "presets": [
    {
      "name": "Hiring Banner Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}
