{% render 'sohail_banner_section' %}




<section class="sh_banner_section">
  <div class="sh_header">
    <div class="page-width page-width-desktop">
      <div class="sh_topbar">

      {% comment %} hamburger_menu {% endcomment %}
            <div class="sh_hamburger_menu">
                <img src="https://cdn.shopify.com/s/files/1/0949/3331/9998/files/Group_1000008115.png?v=1749901886" width="18" height="10" >
            </div>
            

          
        <h1 class="sh_logo">{{ section.settings.sh_logo_text }}</h1>
        <p class="sh_gift">{{ section.settings.sh_top_text }}</p>
        {% if section.settings.sh_top_button_label != blank %}
          <a href="{{ section.settings.sh_top_button_link | default: '#' }}">
            <button class="yellow_btn">
              {{ section.settings.sh_top_button_label }}
            </button>
          </a>
        {% endif %}
      </div>
    </div>
  </div>
   {% comment %} banner section image and text {% endcomment %}
  <div class="banner_image_text title-wrapper--self-padded-mobile">
    {% if section.settings.sh_overlay_button_label != blank %}
          <a href="{{ section.settings.sh_overlay_button_link | default: '#' }}"></a>
      <button class="black_btn_mobile">
         {{ section.settings.sh_overlay_button_label }}
           </button>
            </a>
           {% endif %}
     <div class="overlay_content">
      <h1>{{ section.settings.sh_overlay_heading }}</h1>
      <p>{{ section.settings.sh_overlay_text }}</p>
      {% if section.settings.sh_overlay_button_label != blank %}
        <a href="{{ section.settings.sh_overlay_button_link | default: '#' }}">
          <button class="black_btn">
            {{ section.settings.sh_overlay_button_label }}
          </button>
        </a>
      {% endif %}
    </div>
    {% if section.settings.sh_banner_image %}
     <img class="sh_popup_image pop_p_imaage" 
     src="{{ section.settings.sh_banner_image |  img_url: 'master'  }}"   
     width="100%"
     height="100%">
    {% endif %}
   
  </div>

{% comment %} bottom bar banner section {% endcomment %}

  <div class="sh_bootom_bar">
    <p>{{ section.settings.bottombar_sh }}</p>
  </div>
</section>

{% schema %}
{
  "name": "Sohail Banner Section",
  "tag": "section",
  "class": "sh_banner_section",
  "settings": [
    {
      "type": "text",
      "id": "sh_logo_text",
      "label": "sh_logo Text",
      "default": "Tisso Vision"
    },
    {
      "type": "text",
      "id": "sh_top_text",
      "label": "Top sh_gift Text",
      "default": "Find the ideal sh_gift for your loved ones."
    },
    {
      "type": "text",
      "id": "sh_top_button_label",
      "label": "Top Button Label",
      "default": "Choose sh_gift →"
    },
    {
      "type": "url",
      "id": "sh_top_button_link",
      "label": "Top Button Link"
    },
    {
      "type": "image_picker",
      "id": "sh_banner_image",
      "label": "Banner Image"
    },
    {
      "type": "text",
      "id": "sh_overlay_heading",
      "label": "Overlay Heading",
      "default": "The sh_gift Guide"
    },
    {
      "type": "textarea",
      "id": "sh_overlay_text",
      "label": "Overlay Description",
      "default": "Discover Joy: Your Ultimate Holiday sh_gift Destination. Explore our curated selection and find the perfect sh_gifts to delight your loved ones this holiday season."
    },
    {
      "type": "text",
      "id": "sh_overlay_button_label",
      "label": "Overlay Button Label",
      "default": "SHOP NOW →"
    },
    {
      "type": "url",
      "id": "sh_overlay_button_link",
      "label": "Overlay Button Link"
    },
    {
      "type": "text",
      "id": "bottombar_sh",
      "label": "bottombar",
      "default": "SUSTAINABLE, ETHICALLY MADE CLOTHES IN SIZES XXS TO 6XL"
    },
  ],
  "presets": [
    {
      "name": "Hiring Banner Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}
